@font-face {
    font-family: NorseFont;
    src: url('./assets/Norse-Bold.otf');
}

* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;

}

.left-panel {
    position: relative;
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    min-width: 33vw;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: inherit;
    color: white;

    .card-body {
        position: absolute;
        background: yellow;
        top: 20%;
        display: flex;
        height: 9rem;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        font-size: 3.2rem;
        min-width: inherit;
        text-align: center;
        align-items: end;
        font-family: NorseFont, 'Times New Roman', Times, serif;
    }

    .card-image {
        height: 8rem;
        width: auto; 
        align-self:center;
    }

    footer {
        position: absolute;
        opacity: 0.7;
        bottom: 0;
        min-width: inherit;
        text-align: center;
        margin-bottom: 1rem;

        a {
            color: inherit;
        }
    }
}

.right-panel {
    background-color: rgb(248,250,252);
    font-family: "Helvetica";

    > div:first-child {
        margin: 8rem 22rem 5rem 3rem;
            p {
                font-size: 1.5rem;
                font-weight: 550;
                margin-bottom: 20px;
            }
        }

    .card-form  {
        background-color: #ffffff;
        min-height: 31vh;
        box-shadow: 0px 5px 5px #dddddf;

        > div {
            padding: 0 15rem 0 3rem; 
            height: inherit;

            > p {
                padding: 1rem 0;
                font-size: 1.5rem;
            }

            form {
                display: flex;
                gap: 2rem;

                > div {
                    height: 200px;
                    width: 300px;

                    label {
                        color: #50565c;
                        font-size: 0.8rem;
                        font-weight: bold;
                    }

                    input {
                        display: flex;
                        flex-grow: 1;
                        width: 80%;
                        font-family: "Helvetica", "Arial", sans-serif;
                        font-size: 1rem;
                        border: 1px solid #D6D9DC;
                        border-radius: 4px;
                        padding: 5px 10px;
                    }

                    input[type='password'] {
                        margin-bottom: 0.3rem;
                    }

                    input:hover {
                        box-shadow: 2px 2px 5px #dddddf;
                    }

                    input:focus {
                        border: 1px solid #2475c6;
                        box-shadow: 2px 2px 5px #dddddf;
                        outline: none;
                    }

                    input::placeholder {
                        color: #c6c9cd;
                        font-size: 0.95rem;
                    }

                    /* input#password:required:invalid{
                        border-color: red;
                      } */

                }
            }
        }
    }

    button {
        margin: 35px 3rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: #596d49;
        color: #f5faf4;
        border: 0px transparent;
        border-radius: 6px;
        padding:15px 40px;
    }

    button:hover {
        background-color: #718561;
        cursor: pointer;
    }

    > p {
        margin-left: 3rem;
    }

    .login {
        color: #596d49;
        text-decoration: none;
    }


}